20BDS0354
A SAI CHARAN
SmartBridge Externship-Artifical Intelligence Course
Course Instructor: HariPrabhu
Vellore Institute of Technology,Vellore Campus
-----------------------------------------
Assignment-1:
Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
---------------------------------------------------------------------------------
Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
---------------------------------------
Task - 3 Find the descriptive statistics of the 'df' dataframe.
------------------------------
Task - 4 Check for the null values in 'df' and find the data type of the columns.
-----------------------------------------------------------
Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.
-----------------------------------------------------------------------------------------------------------------------

In [40]:
import numpy as np
import pandas as pd

Task I
Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [41]:
df=pd.DataFrame([pd.Series(np.random.rand(4)),pd.Series(np.random.rand(4)),pd.Series(np.random.rand(4)),pd.Series(np.random.rand(4))])

In [42]:
df

          0         1         2         3
0  0.636597  0.538191  0.590382  0.182918
1  0.664412  0.829108  0.903790  0.138051
2  0.378621  0.652329  0.973568  0.453581
3  0.205123  0.311794  0.903041  0.869765

Task-2
Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4

In [43]:
df.columns=['Random Value 1','Random Value 2','Random Value 3','Random Value 4']

In [44]:
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.636597        0.538191        0.590382        0.182918
1        0.664412        0.829108        0.903790        0.138051
2        0.378621        0.652329        0.973568        0.453581
3        0.205123        0.311794        0.903041        0.869765

Task 3
Find the descriptive statistics of the 'df' dataframe

In [45]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.471188        0.582856        0.842696        0.411079
std          0.219131        0.216746        0.171429        0.336056
min          0.205123        0.311794        0.590382        0.138051
25%          0.335246        0.481592        0.824877        0.171701
50%          0.507609        0.595260        0.903416        0.318249
75%          0.643550        0.696524        0.921235        0.557627
max          0.664412        0.829108        0.973568        0.869765

In [46]:
df.describe(include='all')

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.471188        0.582856        0.842696        0.411079
std          0.219131        0.216746        0.171429        0.336056
min          0.205123        0.311794        0.590382        0.138051
25%          0.335246        0.481592        0.824877        0.171701
50%          0.507609        0.595260        0.903416        0.318249
75%          0.643550        0.696524        0.921235        0.557627
max          0.664412        0.829108        0.973568        0.869765

Task 4
Check for the null values in 'df' and find the data type of the columns.

In [47]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [48]:
df.isnull().sum()

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

In [49]:
df.isnull().all()

Random Value 1    False
Random Value 2    False
Random Value 3    False
Random Value 4    False
dtype: bool

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  4 non-null      float64
 1   Random Value 2  4 non-null      float64
 2   Random Value 3  4 non-null      float64
 3   Random Value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 260.0 bytes

Task 5
Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [51]:
print("Using Location(loc) Method")
df.loc[:,'Random Value 2':'Random Value 3']

Using Location(loc) Method

   Random Value 2  Random Value 3
0        0.538191        0.590382
1        0.829108        0.903790
2        0.652329        0.973568
3        0.311794        0.903041

In [52]:
print("Usign Indexed Location(iloc) Method")
df.iloc[:,1:3]

Usign Indexed Location(iloc) Method

   Random Value 2  Random Value 3
0        0.538191        0.590382
1        0.829108        0.903790
2        0.652329        0.973568
3        0.311794        0.903041